@media screen and (max-width: 600px) {
    .home h1 {
        font-size: 4rem;
    }
    .home p {
        font-size: 2rem;
    }

    .skills {
        align-items: center;
        font-size: 3rem;
    }

    .about-content {
        font-size: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .timeline-container::before {
        left: 20px;
      }
    
      .timeline-item,
      .timeline-item.left,
      .timeline-item.right {
        width: 100%;
        left: 0;
        padding-left: 50px;
        text-align: left;
      }
    
      .timeline-dot {
        left: 12px !important;
      }
    
      .timeline-content {
        margin-top: 10px;
      }

      .company-logo-name-left {
        justify-content: left;
      }

      .company-name {
        font-size: 0.9rem;
      }

      .projects-section-header {
        font-size: 2.3rem;
        font-weight: bold;
      }

      .projects-grid {
        width: 80%;
      }

      .project-title {
        font-size: 1.6rem;
      }
      .btn-show-all {
        font-size: 1.5rem;
      }

      input[type=submit] {
        width: 100%;
        font-size: 1rem;
      }
    
      .message-title {
        font-size: 3rem;
      }

      .contact-links {
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
      }
    
      .contact-links a {
        font-size: 2.5rem;
      }

      .contact-container {
        width: 70%;
      }

      footer {
        padding: 1rem;
      }
      footer > p {
        margin: 1rem;
        font-size: 1rem;
      }
}

@media screen and (max-width: 600px) {
  .topnav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--main-3);
    overflow-x: hidden;
    transition: 0.2s;
    opacity: 0.9;
  }

  .topnav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .topnav a {
    padding: 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--main-1);
    display: block;
    transition: 0.3s;
  }

  .topnav a:hover, .topnav a:focus {
    color: var(--main-4);
    background-color: var(--main-3);
    text-decoration: underline;
    opacity: 0.9;
  }

  .topnav .closebtn {
    display: block;
    position:absolute;
    top: 0.1rem;
    right: 0.1rem;
    font-size: 2.5rem;
    color: var(--main-1);
  }

  .mobile-header {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: var(--main-4);
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
  }

  .mobile-header a {
    float: left;
    display: block;
    color: var(--main-1);
    background-color: var(--main-3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .menu-icon {
    color: var(--main-1);
    float: right;
    padding: 14px 16px;
    font-size: 1.5rem;
  }

  .menu-icon:hover {
    color: var(--main-3);
  }

  .active {
    text-decoration: none;
    color: var(--main-3);
    text-align: left;  
    padding: 1rem; 
  }

  .active:hover {
    color: var(--main-4);
    text-decoration: underline;
  }
  
}
